body {
  background-color: WhiteSmoke;
  color: DarkSlateGray;
  font-family: 'Lato', sans-serif;
}
h2  {
  color: Black;
  font-family: "Roboto", serif;
}
main {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle
}
